* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 600px) and (orientation: landscape) {

.container {
  /* background-color: red; */
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  z-index: 999;
  /* starting point */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  /* this adds the "card" effect */
  display: flex;
  min-height: 80vh;
  min-width: 70vw;
  background-color: #ffff;
  border-radius: 20px;
  overflow: hidden;
}
.account {
  display: none;
}

.sign-in-container {
  position: relative;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38af8b;
  color: #fff;
}

.sign-up-container {
  flex: 3;
  display: flex;
  justify-content: center;
}

.sign-in-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign-in-instruction {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.instruction-1 {
  font-size: 35px;
}

.instruction-2 {
  max-width: 90%;
  line-height: 30px;
}

.sign-in-btn {
  width: 200px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
}

.sign-in-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #38af8b;
}

.logo {
  position: absolute;
  top: 10px;
  left: 80px;
  right: 100px;
}

.yellow-circle {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  position: absolute;
  bottom: -100px;
  left: -100px;
  background-color: #e9b93b;
}

.red-circle {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  position: absolute;
  top: -100px;
  right: -100px;
  background-color: #dc5967;
}

.sign-up-instruction {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-instruction-1 {
  color: #38af8b;
  margin-top: 30px;
  font-size: 25px;
}

.sign-up-instruction-2 {
  margin-top: 20px;
}

.sign-up-btn-google {
  border: 1px solid rgb(139, 134, 134);
  border-radius: 40%;
  background-color: transparent;
  padding: 12px;
}

.sign-up-btn-facebook {
  border: 1px solid rgb(139, 134, 134);
  border-radius: 40%;
  background-color: transparent;
  padding: 12px;
  margin-right: 10px;
}
.sign-up-btn-linkedin {
  border: 1px solid rgb(139, 134, 134);
  border-radius: 40%;
  background-color: transparent;
  padding: 12px;
  margin-left: 10px;
}
.sign-up-btn-google:hover {
  background-color: #38af8b;
  color: #fff;
}

.sign-up-btn-facebook:hover {
  background-color: #38af8b;
  color: #fff;
}

.sign-up-btn-linkedin:hover {
  background-color: #38af8b;
  color: #fff;
}

.sign-up-instruction-3 {
  padding-top: 30px;
  color: rgb(64, 62, 62);
}

.input-container {
  display: flex;
  width: 150%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  right: 50px;
}

.input-container i {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 15px 20px;
  color: #000;
}
.input-field {
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  background-color: #eaeeed;
  border: 1px solid #eaeeed;
  border-radius: 10px;
}
.input-field:focus {
  border: 1px solid dodgerblue;
}

.sign-up-btn {
  width: 200px;
  padding: 18px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #38af8b;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom:30px;
}

.sign-up-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #38af8b;
  border: 2px solid #38af8b;
}
}

@media only screen and (max-width: 599px) {
  /* For mobile phones: */
  .container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #38af8b;
  }
  .card {
    z-index: 999;
    /* starting point */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    /* this adds the "card" effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    min-width: 80vw;
    background-color: #ffff;
    border-radius: 20px;
    overflow: hidden;
  }
  .sign-in-container {
    display: none;
  }
  .sign-in-content {
    display: none;
  }

  .sign-in-instruction {
    display: none;
  }
  .yellow-circle {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    position: absolute;
    bottom: -100px;
    left: -100px;
    background-color: #e9b93b;
  }

  .red-circle {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    position: absolute;
    top: -100px;
    right: -100px;
    background-color: #dc5967;
  }

  .sign-up-instruction {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-up-instruction-1 {
    color: #38af8b;
    margin-top: 30px;
    font-size: 20px;
  }

  .sign-up-instruction-2 {
    margin-top: 20px;
  }

  .sign-up-btn-google {
    border: 1px solid rgb(139, 134, 134);
    border-radius: 40%;
    background-color: transparent;
    padding: 12px;
  }

  .sign-up-btn-facebook {
    border: 1px solid rgb(139, 134, 134);
    border-radius: 40%;
    background-color: transparent;
    padding: 12px;
    margin-right: 10px;
  }
  .sign-up-btn-linkedin {
    border: 1px solid rgb(139, 134, 134);
    border-radius: 40%;
    background-color: transparent;
    padding: 12px;
    margin-left: 10px;
  }
  .sign-up-btn-google:hover {
    background-color: #38af8b;
    color: #fff;
  }

  .sign-up-btn-facebook:hover {
    background-color: #38af8b;
    color: #fff;
  }

  .sign-up-btn-linkedin:hover {
    background-color: #38af8b;
    color: #fff;
  }

  .sign-up-instruction-3 {
    padding-top: 30px;
    color: rgb(64, 62, 62);
  }

  .input-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
   
    
  }

  .input-container i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 15px 20px;
    color: #000;
  }
  .input-field {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    background-color: #eaeeed;
    border: 1px solid #eaeeed;
    border-radius: 10px;
  }
  .input-field:focus {
    border: 1px solid dodgerblue;
  }

  .sign-up-btn {
    width: 200px;
    padding: 18px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #38af8b;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
  }

  .sign-up-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #38af8b;
    border: 2px solid #38af8b;
  }
  .account {
    display: flex;
    margin-top: 10px;
    margin-bottom:20px;
  }
  .sign_in {
    margin-left: 10px;
    color: #38af8b;
  }
}
@media screen and (min-width: 600px)  {

  .container {
    /* background-color: red; */
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card {
    z-index: 999;
    /* starting point */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    /* this adds the "card" effect */
    display: flex;
    min-height: 80vh;
    min-width: 70vw;
    background-color: #ffff;
    border-radius: 20px;
    overflow: hidden;
  }
  .account {
    display: none;
  }
  
  .sign-in-container {
    position: relative;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38af8b;
    color: #fff;
  }
  
  .sign-up-container {
    flex: 3;
    display: flex;
    justify-content: center;
  }
  
  .sign-in-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .sign-in-instruction {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .instruction-1 {
    font-size: 35px;
  }
  
  .instruction-2 {
    max-width: 90%;
    line-height: 30px;
  }
  
  .sign-in-btn {
    width: 200px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .sign-in-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #38af8b;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 80px;
    right: 100px;
  }
  
  .yellow-circle {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    position: absolute;
    bottom: -100px;
    left: -100px;
    background-color: #e9b93b;
  }
  
  .red-circle {
    height: 400px;
    width: 400px;
    border-radius: 400px;
    position: absolute;
    top: -100px;
    right: -100px;
    background-color: #dc5967;
  }
  
  .sign-up-instruction {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-up-instruction-1 {
    color: #38af8b;
    margin-top: 30px;
    font-size: 25px;
  }
  
  .sign-up-instruction-2 {
    margin-top: 20px;
  }
  
  .sign-up-btn-google {
    border: 1px solid rgb(139, 134, 134);
    border-radius: 40%;
    background-color: transparent;
    padding: 12px;
  }
  
  .sign-up-btn-facebook {
    border: 1px solid rgb(139, 134, 134);
    border-radius: 40%;
    background-color: transparent;
    padding: 12px;
    margin-right: 10px;
  }
  .sign-up-btn-linkedin {
    border: 1px solid rgb(139, 134, 134);
    border-radius: 40%;
    background-color: transparent;
    padding: 12px;
    margin-left: 10px;
  }
  .sign-up-btn-google:hover {
    background-color: #38af8b;
    color: #fff;
  }
  
  .sign-up-btn-facebook:hover {
    background-color: #38af8b;
    color: #fff;
  }
  
  .sign-up-btn-linkedin:hover {
    background-color: #38af8b;
    color: #fff;
  }
  
  .sign-up-instruction-3 {
    padding-top: 30px;
    color: rgb(64, 62, 62);
  }
  
  .input-container {
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    right: 50px;
  }
  
  .input-container i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 15px 20px;
    color: #000;
  }
  .input-field {
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    background-color: #eaeeed;
    border: 1px solid #eaeeed;
    border-radius: 10px;
  }
  .input-field:focus {
    border: 1px solid dodgerblue;
  }
  
  .sign-up-btn {
    width: 200px;
    padding: 18px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #38af8b;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom:30px;
  }
  
  .sign-up-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #38af8b;
    border: 2px solid #38af8b;
  }
  }
  @media  screen and (max-width: 300px) {
    /* For mobile phones: */
    .container {
      min-height: 100%;
      min-width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #38af8b;
    }
    .card {
      z-index: 999;
      /* starting point */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      /* this adds the "card" effect */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 30vh;
      min-width: 80vw;
      padding:15px;
      background-color: #ffff;
      border-radius: 20px;
      overflow: hidden;
    }
    .sign-in-container {
      display: none;
    }
    .sign-in-content {
      display: none;
    }
  
    .sign-in-instruction {
      display: none;
    }
    .yellow-circle {
      height: 400px;
      width: 400px;
      border-radius: 400px;
      position: absolute;
      bottom: -100px;
      left: -100px;
      background-color: #e9b93b;
    }
  
    .red-circle {
      height: 400px;
      width: 400px;
      border-radius: 400px;
      position: absolute;
      top: -100px;
      right: -100px;
      background-color: #dc5967;
    }
  
    .sign-up-instruction {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sign-up-instruction-1 {
      color: #38af8b;
      margin-top: 30px;
      font-size: 20px;
    }
  
    .sign-up-instruction-2 {
      margin-top: 20px;
    }
  
    .sign-up-btn-google {
      border: 1px solid rgb(139, 134, 134);
      border-radius: 40%;
      background-color: transparent;
      padding: 12px;
    }
  
    .sign-up-btn-facebook {
      border: 1px solid rgb(139, 134, 134);
      border-radius: 40%;
      background-color: transparent;
      padding: 12px;
      margin-right: 10px;
    }
    .sign-up-btn-linkedin {
      border: 1px solid rgb(139, 134, 134);
      border-radius: 40%;
      background-color: transparent;
      padding: 12px;
      margin-left: 10px;
    }
    .sign-up-btn-google:hover {
      background-color: #38af8b;
      color: #fff;
    }
  
    .sign-up-btn-facebook:hover {
      background-color: #38af8b;
      color: #fff;
    }
  
    .sign-up-btn-linkedin:hover {
      background-color: #38af8b;
      color: #fff;
    }
  
    .sign-up-instruction-3 {
      padding-top: 30px;
      color: rgb(64, 62, 62);
    }
  
    .input-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px;
      position: relative;
     
      
    }
  
    .input-container i {
      position: absolute;
      left: 0;
      top: 10px;
      padding: 15px 20px;
      color: #000;
    }
    .input-field {
      width: 100%;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      background-color: #eaeeed;
      border: 1px solid #eaeeed;
      border-radius: 10px;
    }
    .input-field:focus {
      border: 1px solid dodgerblue;
    }
  
    .sign-up-btn {
      width: 200px;
      padding: 18px;
      border: 2px solid #fff;
      border-radius: 30px;
      background-color: #38af8b;
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      margin-left: 20px;
    }
  
    .sign-up-btn:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: #38af8b;
      border: 2px solid #38af8b;
    }
    .account {
      display: flex;
      margin-top: 10px;
      margin-bottom:20px;
    }
    .sign_in {
      margin-left: 10px;
      color: #38af8b;
    }
  }
